/*********************************************
* INDEX
**********************************************
1. Pageload Animations
2. Meta Information Overlay
3. Scrolling Underline Link Effect
4. Page Titles
5. Headings
6. Images
7. Image Sizing
8. Image Decorations
9. Positioning
10. Padding
11. Lists
12. Hero Elements
13. Content Containers
14. Footer Containers
15. Code
**********************************************/

/*********************************************
* 1. Pageload Animations
**********************************************/
html {
	background-color: rgba(50,50,50,1);
}

body {
    animation: fadeIn 1s;
    margin: 0;
	background-color: #262626;
    color: #fff;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

/*********************************************
* 2. Meta Information Overlay
**********************************************/
#debug-overlay-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    color: #000;
    background-color: #f0f0f0;
    padding: 10px;
    box-sizing: border-box;
    border-top: 1px solid #ccc;
    z-index: 9999;
}

.debug-content {
    max-width: 800px;
    margin: 0 auto;
}

/*********************************************
* 3. Scrolling Underline Link Effect
**********************************************/
a {
    position: relative;
    text-decoration: none;
    color: rgba(154,138,120,1);
    text-shadow: 0px 0px 0px #000;
    transition: color .3s ease-in-out;
    transition: text-shadow .3s ease-in-out;
}

a:hover {
    color: rgba(181,162,141,1);
    text-shadow: 2px 2px 1px #000;
    transition: color .3s ease-in-out;
    transition: text-shadow .3s ease-in-out;
}

a:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 4px;
    background-color: #18272F;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}

.footercontent a::before {
    background-color: #fff;
}

a:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}

.disable-scrolling-underline::before {
    content: none;
    transform: none;

}

/*********************************************
* 4. Page Titles
**********************************************/
.pagetitle h1 {
	max-width: 100%;
	/* border-bottom: 1px solid #E1E1E1; */
	margin-bottom: 40px;
}

/*********************************************
* 5. Headings
**********************************************/
h1, h2, h3, h4, h5, h6 {
	text-shadow: 2px 2px 1px #000;
    padding: 5px;
}

.noborder {
    border: none
}

.underline {
    border-bottom: 1px solid rgba(154,138,120,0.5);
}

@media only screen and (max-width : 480px) {
/* Mobile */
    h1 {
        font-size: 8vmin;
        line-height: 8.5vmin;
    }
    h2 {
        font-size: 7.5vmin;
        line-height: 8vmin;
    }
    h3 {
        font-size: 7vmin;
        line-height: 7.5vmin;
    }
    h4 {
        font-size: 6.5vmin;
        line-height: 7vmin;
    }
    h5 {
        font-size: 6vmin;
        line-height: 6.5vmin;
    }
    h6 {
        font-size: 5.5vmin;
        line-height: 6vmin;
    }
}

/*********************************************
* 5-1. Copy
**********************************************/
@media only screen and (max-width : 480px) {
    html {
        font-size: 4.5vmin;
    }
}

/*********************************************
* 6. Images
**********************************************/
img {
	width: 100%;
	max-width: 100%;
	height: auto;
}

/*********************************************
* 7. Image Sizing
**********************************************/
img.tiny {
	max-width: 150px;
	height: auto;
}

img.small {
	max-width: 300px;
	height: auto;
}

img.medium {
	max-width: 600px;
	height: auto;
}

img.large {
	max-width: 1000px;
	height: auto;
}

/*********************************************
* 8. Image Decorations
**********************************************/
img {
	border: 1px solid rgba(200, 200, 200, 0.5);
	border-radius: 0px;
	box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0);
	transition: box-shadow 0.5s ease-in-out;
}

img:hover {
	box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.5);
}

a img:hover {
	box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

img.nodecoration, img.nodecoration:hover {
	border: none;
	box-shadow: none;
	transition: none;
}

img.cover {
    object-fit: cover
}

/*********************************************
* 9. Positioning
**********************************************/
.align-left, .align-right {
	display: block;
	float: left;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.textalign-left {
	display: block;
	text-align: left;
}

.textalign-center {
	display: block;
	text-align: center;
}

.textalign-right {
	display: block;
	text-align: right;
}

/*********************************************
* 10. Padding and Margins
**********************************************/
.padding-5px {
	padding: 5px;
}

.padding-10px {
	padding: 10px;
}

.padding-20px {
	padding: 20px;
}

.padding-50px {
	padding: 50px;
}

.no-top-margin {
    margin-top:0 !important;
}

@media only screen and (max-width : 480px) {
    .mobile-minimal-side-padding {
        padding-left: 10px !important;
        padding-right: 10px !important;
    }
}

/*********************************************
* 11. Lists
**********************************************/
ul {
	list-style-type: circle;
	list-style-position: outside;
	list-style-image: none;
}

ol {
	list-style-type: decimal;
	list-style-position: outside;
	list-style-image: none;
}

ol, ul {
  padding-left: 20px;
  margin-top: 0;
}

/*********************************************
* 12. Hero Elements
**********************************************/
.hero, .herosmall {
	background: url(../../images/heroimage.webp);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-color: rgba(50,50,50,1);
	width: 100vmax;
	max-width: 100%;
	height: calc(100vmin - 72px);
    box-shadow: 0px 2px 5px rgba(0,0,0,1)
}

@media only screen and (max-width : 480px) {
    .hero, .herosmall {
        height: calc(200vmin - 72px);
    }
}

.herosmall {
	height: calc(25vmin + 72px);
}

.herocontainer {
    display:block;
	text-align: center;
    margin: 0;
	position: relative;
	float: left;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.herodownarrowcontainer {
    position: absolute;
    font-size: 10vmin;
    left: 50%;
    bottom: 0%;
}

.herodownarrowcontainer a {
    color: #fff;
}

.bounce {
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.herotext {
	font-size: 10vmin;
	color: #fff;
	text-shadow: 3px 3px 2px #000;
	text-align: center;
	line-height: normal;
}

span.herosubtext {
	font-size: 4vmin;
	color: #fff;
	text-shadow: 3px 3px 2px #000;
	text-align: center;
	line-height: normal;
}

div.herologo img {
    position: absolute;
    margin-top: 1vmin;
    margin-left: 1vmin;
    max-width: 12vmax;
    border: none;
    
}

/*********************************************
* 13. Content Containers
**********************************************/
.contentcontainer {
    background: #262626;
    padding: 30px;
    position: relative;
	/* max-width: 1280px; */
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
}

@media only screen and (max-width : 1000px) {
	.contentcontainer {
		padding: 10px;
	}
}

.content {
	max-width: 1800px;
	margin-left: auto;
	margin-right: auto;
}

.elementcontainer {
    display:block;
    margin-top:150px;
    margin-bottom:150px;
}

.dark {
    display: block;
    background-color: #191919;
    padding: 50px;
}

.half-width {
    max-width: 50%;
    float: left;
}

@media only screen and (max-width : 1000px) {
    .half-width {
        max-width: 100%;
        float: none;
    }
}


/*********************************************
* 14. Footer Containers
**********************************************/
.footercontainer {
	background-color: rgba(50,50,50,1);
    padding-top: 40px;
}

.footercontent {
	max-width: 90%;
	margin-left: auto;
	margin-right: auto;
	color: #fff;
	text-align: justify;
	text-justify: inter-word;
}

@media only screen and (max-width : 768px) {
	.footercontent {
		max-width: 95%;
	}
}

.footercontent span.sectiontitle{
	display: block;
	text-align: center;
	font-size: 40px;
	margin-bottom: 20px;
}

/*********************************************
* 15. Code
**********************************************/
code {
	overflow-x: auto;
}

/*********************************************
* 16. Input Fields
**********************************************/
input[type="text"], textarea, input[type="email"], input[type="password"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid rgba(154,138,120,0.5);
    border-radius: 4px;
    background-color: #262626; /* Dark background color */
    color: #fff; /* Text color */
	text-shadow: 2px 2px 1px #000;
}

/* Focus styles */
input[type="text"]:focus, textarea:focus, input[type="email"]:focus, input[type="password"]:focus {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid rgba(154,138,120,1);
    outline: none;
    transition: all .3s ease-in-out;
	text-shadow: 2px 2px 1px #000;
}

/* Styling the submit button */
input[type="submit"] {
    background-color: rgba(154,138,120,0.25); /* Green */
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: all .3s ease-in-out;
	text-shadow: 2px 2px 1px #000;
	box-shadow: 0px 0px 0px #000;
}

input[type="submit"]:hover {
    background-color: rgba(154,138,120,0.5); /* Darker green */
	box-shadow: 0px 0px 15px #000;
    transition: all .3s ease-in-out;
}

/*********************************************
* 17. Call to Action Buttons
**********************************************/

.ctabutton {
    display: block;
    background-color: rgba(154,138,120,0.25); /* Green */
    color: white;
    padding: 14px 20px;
    margin: 8px auto;
    max-width: max-content;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: all .3s ease-in-out;
	text-shadow: 2px 2px 1px #000;
	box-shadow: 0px 0px 0px #000;
}

.ctabutton:hover {
    background-color: rgba(154,138,120,0.5); /* Darker green */
	box-shadow: 0px 0px 15px #000;
    transition: all .3s ease-in-out;
}

.ctabutton a {
    color: #fff;
}

/*********************************************
* 18. yBox Alterations
**********************************************/
.yBoxImgZoom .ybox-img-title {
    background:rgba(0,0,0,0.6);
}

/*********************************************
* 18. FlexBox Alterations
**********************************************/
.alignitems-vertical {
    align-items: center;
}

/*********************************************
* 18. StellarNav Alterations
**********************************************/
.stellarnav {
    // min-height: 72px;
}